/extdata/fitted_models.rda
/vignettes/*.html
.Rproj.user
/vignettes/*.jpg
/vignettes/jian-paper-analysis.docx
/vignettes/results2.csv
/vignettes/jian-paper-analysis_cache/

# big file in extdata
/extdata/fitted_models.rda
/extdata/old
/data/fitted_models.rda

# all files in manuscript
manuscript/

# Big file
.RData
.Rhistory